@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D4F1F4; /* dark background like image */
  color: white;
  font-family: 'Poppins', sans-serif;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
